body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #aec06c;
  }
  
  .calculator {
    background-color: #0f0f0f;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
  }
  
  #display {
    width: 93%;
    padding: 10px;
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }
  
  button {
    padding: 10px;
    font-size: 18px;
    background-color: #cabebe;
    border: none;
    cursor: pointer;
  }
  